body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(71, 58, 255), rgb(49, 34, 185));
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-image: linear-gradient(to bottom right, rgb(241, 243, 248), rgb(203, 208, 253));
    padding: 0;
    margin: 0;
    border-radius: 20px;
}

.window-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 36px;
    padding: 24px 24px 24px 24px;
}

.deck {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 36px;
}

.card {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(241, 243, 248), rgb(216, 229, 245));
    width: 500px;
    height: 300px;
    border-radius: 20px;
    transition: ease-in box-shadow 150ms;
    box-shadow: 
        -6px -6px 12px rgba(220, 234, 255, 0.534),
        6px 6px 12px rgb(90, 80, 138);
}

.card:hover {
    box-shadow: 
        -12px -12px 25px rgba(220, 234, 255, 0.534),
        12px 12px 25px rgb(90, 80, 138);
}

.bevel {
    position: absolute;
    background-color: transparent;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    box-shadow: 
        inset 4px 4px 4px rgba(255, 255, 255, 0.774),
        inset -4px -4px 4px rgba(76, 50, 190, 0.411);
}

.bevel-sml {
    position: absolute;
    background-color: transparent;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    box-shadow: 
        inset 1px 1px 1px rgba(255, 255, 255, 0.774),
        inset -1px -1px 1px rgba(76, 50, 190, 0.411);
}

.avatar-back {
    background-image: linear-gradient(to bottom right, rgb(167, 192, 255), rgb(140, 170, 245));
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to bottom right, rgb(241, 243, 248), rgb(216, 229, 245));
    box-shadow: 
        -2px -2px 4px rgba(220, 234, 255, 0.534),
        2px 2px 4px rgba(90, 80, 138, 0.74);
}

.details {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    background-image: linear-gradient(to bottom right, rgb(241, 243, 248), rgb(216, 229, 245));
    width: 350px;
    height: 16px;
    margin: 14px;
    border-radius: 16px;

    box-shadow: 
        -1px -1px 1px rgba(220, 234, 255, 0.534),
        1px 1px 1px rgba(90, 80, 138, 0.74);
}

.icon {
	width: 40px;
	height: 40px;
    background-image: linear-gradient(to bottom right, rgb(167, 192, 255), rgb(140, 170, 245));
    border-radius: 20%;


    box-shadow: 
        inset 2px 2px 2px rgba(197, 220, 255, 0.548),
        inset -2px -2px 2px rgba(76, 50, 190, 0.411);
}

.banner {
    /* margin: 40px; */
    height: 180px;
    width: 1620px;
    background-image: linear-gradient(to bottom right, rgb(81, 62, 252), rgb(48, 46, 179));
    border-radius: 20px;
    box-shadow: 
        -2px -2px 4px rgba(202, 201, 255, 0.363),
        2px 2px 4px rgba(90, 80, 138, 0.74);
}

.chip {
    background-image: linear-gradient(to bottom right, rgb(62, 252, 189), rgb(46, 179, 157));
    width: 120px;
    height: 40px;
    margin: 24px 6px 6px 24px;
    border-radius: inherit;

    box-shadow: 
        -2px -2px 4px rgba(202, 201, 255, 0.363),
        4px 4px 8px rgba(30, 66, 52, 0.74);
}

.title {
    background-image: linear-gradient(to bottom right, rgb(252, 249, 62), rgb(233, 179, 30));
    width: 220px;
    height: 24px;
    margin: 12px 24px;
    border-radius: inherit;
}

.description {
    background-image: linear-gradient(to bottom right, rgb(179, 146, 255), rgb(179, 146, 255));
    height: 16px;
    margin: 12px 24px;
    border-radius: inherit;
}

.todo {
    background-image: linear-gradient(to bottom right, rgb(243, 190, 199), rgb(243, 169, 181));
    border-radius: inherit;
    width: 240px;
    height: 300px;
}

.line-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.bullet {
    width: 24px;
    height: 24px;
    border-radius: 36px;
    background-image: linear-gradient(to bottom right, rgb(241, 243, 248), rgb(216, 229, 245));
    margin: 24px;
    box-shadow: 1px 1px 2px rgba(185, 74, 91, 0.822);
}

.close{
    width: 24px;
    height: 24px;
    border-radius: 36px;
    background-image: linear-gradient(to bottom right, rgb(243, 190, 199), rgb(243, 169, 181));
    margin: 24px;
    box-shadow: 
        -1px -1px 1px rgba(220, 234, 255, 0.534),
        1px 1px 1px rgba(90, 80, 138, 0.74);
}

.min{
    width: 24px;
    height: 24px;
    border-radius: 36px;
    background-image: linear-gradient(to bottom right, rgb(243, 238, 190), rgb(243, 229, 169));
    margin: 24px;
    box-shadow: 
        -1px -1px 1px rgba(220, 234, 255, 0.534),
        1px 1px 1px rgba(90, 80, 138, 0.74);
}

.max{
    width: 24px;
    height: 24px;
    border-radius: 36px;
    background-image: linear-gradient(to bottom right, rgb(201, 243, 190), rgb(169, 243, 173));
    margin: 24px;
    box-shadow: 
        -1px -1px 1px rgba(220, 234, 255, 0.534),
        1px 1px 1px rgba(90, 80, 138, 0.74);
}

.line-item > .line {
    width: 100px;
    height: 24px;
    border-radius: 36px;
    background-image: linear-gradient(to bottom right, rgb(241, 243, 248), rgb(216, 229, 245));
    box-shadow: 1px 1px 2px rgba(199, 50, 72, 0.822);
}

.url {
    height: 36px;
    width: 1200px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, rgb(241, 243, 248), rgb(216, 229, 245));
    margin: 0 48px;
}